<% layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/app.css">


    <div id="cluster-map"></div>

    <div class="heading mt-4">
        <h1>
            <span>always be</span>
            <div class="message">
                <div class="word1">Wanderer</div>
                <div class="word2">Curious</div>
                <div class="word3">Explorer</div>
            </div>
        </h1>
    </div>
    <div>
        <a class="btn btn-secondary mb-3" href="/campgrounds/new">Add a campsite</a>
    </div>

    <div class="container">


        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% for (let campground of campgrounds) {%>
                <div class="col-md-3 col-sm-6">
                    <% if(campground.images.length){ %>
                        <div class="card thumbnail mb-3">
                            <img class="img-fluid" alt="" src="<%= campground.images[0].url %>"
                                style="width: 100%; height: 300px;">
                            <% }else { %>
                                <img src="https://res.cloudinary.com/dbzuuuvue/image/upload/v1680779561/YelpCamp/mn81frx58lseyr8n3vtk.jpg"
                                    alt="" class="img-fluid">
                                <% } %>
                                    <div class="caption">
                                        <h4>
                                            <%= campground.title %>
                                        </h4>
                                        <p class="card-subtitle mb-2 text-muted">
                                            <%=campground.description%>
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">
                                                <%=campground.location%>
                                            </small>
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">
                                                Submitted by: <%= campground.owner.username%>
                                            </small>
                                        </p>

                                    </div>
                                    <p>
                                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary mt-2">More
                                            Info</a>
                                    </p>
                        </div>
                </div>
                <% } %>
        </div>
    </div>





    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campgrounds = { features: JSON.parse('<%- JSON.stringify(campgrounds) %>') };
    </script>
    <script src="/javascripts/clusterMap.js"></script>